@import "@fortawesome/fontawesome-free/css/all.css";
@import 'flatpickr/dist/flatpickr.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Timecard */
@layer components {
  .shape-stamp-in {
      box-shadow: 0px 0px 0px 3px #1995ad;
      background-color: #1995ad;

      @apply text-xl rounded-md text-white overflow-hidden transition disabled:bg-ao-sub disabled:text-ao-main;
  }

  .shape-stamp-in:hover {
      color: #1995ad;
      background-color: #e0f3f8;
  }

  .shape-stamp-out {
      box-shadow: 0px 0px 0px 3px #1995ad;
      background-color: #1995ad;

      @apply text-xl rounded-md text-white overflow-hidden transition disabled:bg-ao-sub disabled:text-ao-main;
  }

  .shape-stamp-out:hover {
      color: #1995ad;
      background-color: #e0f3f8;
  }
}