.top-container {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 13px rgba(93, 95, 98, 0.25);
  margin: 13px 0 0;
  min-width: 1300px;
}

.top-container > :last-child {
  margin-left: auto;
}
